mat-toolbar {
  position: relative;
  top: 20px;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}


form, mat-form-field {
  width: 100%;
}
.search-container{

  padding:0;
  display: flex;
  &--text-container{
    padding: 0;
    font-weight: 500;

  }
  &--cross-container{

    &__reset-cross{
      float:right;
      font-size: 25px;
    }
  }

}


