<mat-toolbar>
  <form class="rss-search-form">
    <mat-form-field class="full-width">
      <div class="container container-fluid">
        <input #autocompleteInput type="text"
               placeholder="Search RSS Feed"
               matInput [formControl]="myFormControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto >
          <mat-option *ngFor="let option of autoCompleteList"
                      [value]="option.title"
                      (onSelectionChange)="filterFeedsList($event)"
          >
           {{option.title}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-form-field>
  </form>
</mat-toolbar>
