<div *ngIf="displayedFeedEntry" class="container feed-info-container">
  <div class="row">
    <div class="col-3 feed-info-container__image-media">
      <img class="image" src="{{displayedFeedEntry.imgMedia}}">
    </div>
    <div class="col-9 feed-info-container__info">
      <div class="feed-info-container__info__title">{{displayedFeedEntry.title}}</div>
      <div class="feed-info-container__info__description">{{displayedFeedEntry.description}}</div>
      <a mat-raised-button class="feed-info-container__info__button" color="primary" href="{{displayedFeedEntry.link}}">
        Lire l'article
      </a>
    </div>
  </div>
</div>
